appdirs==1.4.3
asn1crypto==0.22.0
beautifulsoup4==4.5.3
cffi==1.10.0
cryptography==1.8.1
Django==1.11
django-crispy-forms==1.6.1
idna==2.5
olefile==0.44
packaging==16.8
Pillow==4.1.1
pycparser==2.17
pyOpenSSL==17.0.0
pyparsing==2.2.0
pytz==2017.2
requests==2.13.0
rtsimple==0.9.0
six==1.10.0
tmdbsimple==1.6.1
psycopg2-2.7.1
