<div class="ftr">
  <div class="container">
    <div class="row">
      <footer>
        <div class="pull-left ft_space">
          <address class="">
            <h3>Movie Super Fans</h3>
            1314 Lowry Ave NE.<br>
            Minneapolis, MN, 55418 <br>
            <a href="mailto: sogrecords@gmail.com">moviesuperfan@gmail.com</a><br>
            <abbr title="Phone">P:</abbr> 612-773-9876

          </address>

        </div>
        <div class="pull-right">
          <img src="https://image.tmdb.org/t/p/w500/y4VwLH2fhl2xEvhJ9PaWdyozjHr.jpg" width="250px"class="img-responsive"alt="">
        </div>
        <div class="pull-right ft_space">
          <img src="https://image.tmdb.org/t/p/w500/7QEBH2k0CbRv3eosRAcbSCbmYlM.jpg" width="265px"class="img-responsive"alt="">
          <p>&copy; Movie Super Fans Inc. 2017</p>

        </div>
      </footer>

      </div>

    </div>

  </div>

</div>
