{% extends 'moviesuperfan/base.html' %}

{% block content %}
<div class="container" style="padding-top:60px;">
  <div class="row">
    <div class="col-xs-9">
      <p><strong>Movie Title:</strong> {{movie_review.movie.movie_title}}</p><hr>
      <p><strong><u>Movie Review</u></strong><br>{{movie_review.movie_review}}</p>
      <p><img src="{{movie_review.movie.movie_poster_url}}" class='img-responsive' width="300px" height="400px"alt=""></p>
    <div style="padding-bottom: 10px;">
    </div>

    </div>

  </div>

</div>


{% endblock %}
