{% load staticfiles %}

<!-- End of Navigation -->
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target='#myCarousel' data-slide-to="0" li>
    <li data-target='#myCarousel' data-slide-to="1" class="active"></li>
    <li data-target='#myCarousel' data-slide-to="2" ></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://image.tmdb.org/t/p/w500/unPB1iyEeTBcKiLg8W083rlViFH.jpg" alt="" style="background-size: cover;">
      <div class="container active">
        <div class="carousel-caption">
          <h1>The Boss Baby</h1>
        <p style="color: black; font-weight:bold" >A new baby's arrival impacts a family, told from the point of view of a delightfully unreliable narrator -- a wildly imaginative 7-year-old named Tim. The most unusual Boss Baby (Alec Baldwin) arrives at Tim's home in a taxi, wearing a suit and carrying a briefcase. The instant sibling rivalry must soon be put aside when Tim discovers that Boss Baby is actually a spy on a secret mission, and only he can help thwart a dastardly plot that involves an epic battle between puppies and babies.</p>
            <p><a href="#" class="btn btn-primary btn-lg">Read more ...</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="https://image.tmdb.org/t/p/w500/swt9crREg1UcKgg3wGWfoFNlXOz.jpg" alt="" style="background-size:contain;">
      <div class="container active">
        <div class="carousel-caption">
          <h1>The Smurf</h1>
          <p style="color: black; font-weight:bold">Evil wizard Gargamel (Hank Azaria) has plagued the happy, peaceful Smurfs for a very long time. Finally, he succeeds in chasing the little blue people from their village and through a magic portal -- which transports them to Manhattan and into the life of ad executive Patrick Winslow (Neil Patrick Harris). Only three apples high and lost in the Big Apple, the Smurfs (Jonathan Winters, Alan Cumming, Katy Perry) must
            find a way back to their world before Gargamel tracks them down</p>
            <p><a href="#" class="btn btn-primary btn-lg">Read more...</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="https://image.tmdb.org/t/p/w500/gaHepzSTMkGwsSKAqiBgroSCf07.jpg" alt=""style="background-size: contain;">
      <div class="container active">
        <div class="carousel-caption">
          <h1>Guardians of the Galaxy Vol. 2</h1>
          <p style="color: black; font-weight:bold">The Guardians must fight to keep their newfound family together as they unravel the mysteries of Peter Quill's true parentage.</p>
            <p><a href="#" class="btn btn-primary btn-lg">Read more...!!!</a></p>
        </div>
      </div>
    </div>
  </div>
  <a href="#myCarousel" class="left carousel-control" data-slide='prev'><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a href="#myCarousel" class="right carousel-control" data-slide='next'><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- Carousel End -->
<div class="intro-block">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <img class="img-responsive tpad" src="https://image.tmdb.org/t/p/w500/wDbp3SxCkU1G2djb3tcumxcg8LN.jpg" alt="">
      </div>
      <div class="col-xs-9">
        <h1>Movies Super Fans <span class="text-muted">&raquo; MOVIES ALL DAY</span>
        </h1>
        <p class="lead" style="text-align: justify">Movies Super Fans is an outstanding community fill with movies lovers. Members of this website
          have the ability to keep track of their movies they have watched and give reviews about those movies.You also provide up-to-date information
          regarding movies that are currently playing in theaters as well as upcoming movies around United State.
           We also provide overview of each movie along with the cover poster and trailer to wet the movie appetite of our members.We are here to make your movie dreams come to reality.</p>
      </div>
    </div>
  </div>
</div>
