{% load staticfiles %}

<!-- End of Navigation -->
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target='#myCarousel' data-slide-to="0" li>
    <li data-target='#myCarousel' data-slide-to="1" class="active"></li>
    <li data-target='#myCarousel' data-slide-to="2" ></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://image.tmdb.org/t/p/w500/unPB1iyEeTBcKiLg8W083rlViFH.jpg" alt="" style="background-size: cover;">
      <div class="container active">
        <div class="carousel-caption">
          <h1>The Boss Baby</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p><a href="#" class="btn btn-primary btn-lg">Read more ...</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="https://image.tmdb.org/t/p/w500/swt9crREg1UcKgg3wGWfoFNlXOz.jpg" alt="" style="background-size:contain;">
      <div class="container active">
        <div class="carousel-caption">
          <h1>The Smurf</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p><a href="#" class="btn btn-primary btn-lg">Read more...</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="https://image.tmdb.org/t/p/w500/gaHepzSTMkGwsSKAqiBgroSCf07.jpg" alt=""style="background-size: contain;">
      <div class="container active">
        <div class="carousel-caption">
          <h1>Guardians of the Galaxy Vol. 2</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p><a href="#" class="btn btn-primary btn-lg">Read more...!!!</a></p>
        </div>
      </div>
    </div>
  </div>
  <a href="#myCarousel" class="left carousel-control" data-slide='prev'><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a href="#myCarousel" class="right carousel-control" data-slide='next'><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- Carousel End -->
<div class="intro-block">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <img class="img-responsive tpad" src="https://image.tmdb.org/t/p/w500/wDbp3SxCkU1G2djb3tcumxcg8LN.jpg" alt="">
      </div>
      <div class="col-xs-9">
        <h1>Movies Super Fans <span class="text-muted">&raquo; MOVIES ALL DAY</span>
        </h1>
        <p class="lead" style="text-align: justify">Movies Super Fans is an outstanding community fill with movies lovers. Members of this group
          have the ability to keep track of movies they have watched and movies they wish to watch in the future. Members can add movies to their movies
          catalogue under their profile section.
          Our blog also ways provide ways in which movie lovers see and comment on movies that are currently playing in theaters around the United States. We also provide overview
          of each movie along with the cover poster.We are here to make your movie dreams come to reality.</p>
      </div>
    </div>
  </div>
</div>
